<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!--<servlet>-->
        <!--<servlet-name>p1</servlet-name>-->
        <!--<jsp-file>/index.jsp</jsp-file>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>p1</servlet-name>-->
        <!--<url-pattern>/index.jsp</url-pattern>-->
    <!--</servlet-mapping>-->


    <!--<servlet>-->
        <!--<servlet-name>p2</servlet-name>-->
        <!--<jsp-file>/p2.jsp</jsp-file>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>p2</servlet-name>-->
        <!--<url-pattern>/p2.jsp</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>p3</servlet-name>-->
        <!--<jsp-file>/css/bootstrap.css</jsp-file>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>p3</servlet-name>-->
        <!--<url-pattern>/css/bootstrap.css</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>p4</servlet-name>-->
        <!--<jsp-file>/css/bootstrap.min.css</jsp-file>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>p4</servlet-name>-->
        <!--<url-pattern>/css/bootstrap.min.css</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>